* {
    --fmg-purle: yellow;
}

body{
    margin:0px;
    font-family: "map-regular", arial, helvetica, sans-serif;
}

@media screen and (max-width: 30em){
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "gateinfo gateinfo"
    "navigation content"
    "status status"
    
}
}
@media screen and (min-width: 30em){
    main{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas: 
        "gateinfo gateinfo"
        "content content"
        "navigation navigation"
        "status status"
        
    }
    }
    
section{
    grid-area: content;
    background: var(--fmg-purple,orange);
}
nav{
    grid-area: navigation;
    background: var(--fmg-purple,gray);
}
header{
    grid-area: gateinfo;
    background: var(--fmg-purple,lightblue);
}
footer{
    grid-area: status;
    background: var(--fmg-purple,lightgreen);
}