* {
    --fmg-purple: #990066;
    --fmg-blue: #0099cc;
    --fmg-green: #cce70e;
    --fmg-orange: #ff9933;
    --fmg-gray: #ccc;
    --fmg-darkgray: #647882;
    --fmg-white: #fff;
}

body{
    margin:0px;
    font-family: "map-regular", arial, helvetica, sans-serif;
}

@media screen and (min-width: 30em){
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 0.5fr 6fr 0.5fr;
    grid-template-areas: 
    "gateinfo gateinfo gateinfo"
    "navigation content content"
    "status status status"
    
}
}
@media screen and (max-width: 30em){
    main{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 0.25fr 8fr 0.5fr;
        grid-template-areas: 
        "gateinfo gateinfo"
        "navigation navigation"
        "content content"        
        "status status"
        
    }
    }
    
section{
    grid-area: content;
    background: var(--fmg-white, red);
}
nav{
    grid-area: navigation;
    background: var(--fmg-gray,red);
}
a{
    color: black;
    text-decoration: none;
    display:border-box;
}
header{
    grid-area: gateinfo;
    background: var(--fmg-blue,red);
    color: var(--fmg-white,black);
}
footer{
    grid-area: status;
    background: var(--fmg-blue,red);
    color: var(--fmg-white, black);
}